body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/search_hero.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:white;

}

h1 {

    color: rgb(225, 8, 8);
}

a {
color: #000;
}

